<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title> WHAT AN EMAIL! </title>
  </head>
  <body>
  <h1>Subject</h1>
  <h2><%= @current_user.full_name %> want to let you know they're flying!</h2>
    <p> <%= @current_user.full_name %> wanted you to know that they will be flying <%=@name%> Airlines blah blah blah</p>
  </body>
</html>