<div class="navbar navbar-default navbar-fixed-bottom">
<div class="container">
	<p class="navbar-text pull-right"><%= link_to "About", "https://github.com/jadeapplegate/Flight_App" %></p>
	<p class="navbar-text pull-right"><%= mail_to "wdi.flight.app@gmail.com", "Contact" %></p>
</div>
</div>
  
